<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="Firefox" />
    <add key ="ScreenOnFail?" value="True"/>
    <add key ="ScreenshotPath" value="C:\TEMP\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>